.styled-link {
  padding-bottom: 3px;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    content: '';
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: pal(white);
    transition: all 0.5s ease;
  }

  &--on-light {
    &:after {
      background: pal(black);
    }
  }

  &:hover {
    &:after {
      bottom: -8px;
    }
  }
}
