.airbnb {
  &-heading {
    color: pal(brand, copy);

    &--primary {
      @include font(33, 400);
    }
    &--secondary {
      @include font(26, 400);
    }
    &--tertiary {
      @include font(23, 700);
    }
    &--fourth-type {
      @include font(18, 400);
    }
    &--section {

    }
    &--subsection {

    }

    &--brand {
      color: pal(brand, pink);
    }

    &--semi-bold {
      font-weight: 500;
    }

    &--bold {
      font-weight: 700;
    }

    &--white {
      color: pal(white);
    }
  }

  &-subheading {

  }

  &-copy {
    color: pal(brand, copy);
    @include font(13, 300);

    &--large {
      @include font(15, 300);
    }
    &--small {
      margin: 10px 0;
      @include font(10, 300);
    }

    &--light {
      color: pal(gray, light-dark)
    }

    &--white {
      color: pal(white)
    }
  }
}
